body {
    background-color: #f9f9f9;
}

main {
    margin: 20px;
}

input.form-control, div#cke_html, textarea#passthrough {
    margin-bottom: 20px;
}

textarea.red {
    color: red;
}

textarea.green {
    color: green;
}