<lasso-page package-path="./browser.json"/>
<layout-use('../../../layout/default/template.marko', data)>
<layout-put into="body">
    <h1>/email [post]</h1>
    <p>${data.response}</p>
</layout-put>
</layout-use>